
* {
    margin: 0;
}
.Header{
display: flex;
justify-content: space-between;
background-color: white;
align-items: center;
padding: 10px;
}
.logo{
color: grey;
}


.Header ul{
    display: flex;
    gap: 30px;
    list-style: none;
    justify-content: space-around;
}

.Header ul li a{
text-decoration: none;
color: grey;
justify-content: space-around;

}
.hero{
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
padding: 20px;
text-align: center;
color: aliceblue;
background-image: url( green.avif  );
background-repeat: no-repeat;
background-size: cover;
height:300px;
}
.more{
text-align: center;
margin-top: 20px;
}



.more a {
 background-color: white;
  color: black;
  padding: 10px 25px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;

}
.more a:hover{
    background-color: #ddd;
}

.Product{
text-align: center;
justify-content: center;
background-color: aliceblue;
color: black;
padding: 60px 40px;
}

.product-container{
    display: flex;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
}

.card{
display: flex;   
border-radius: 12px;
width:25%;
text-align: center;
align-items: center;
flex-direction: column;
}
.card h1{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size:22px;

}
.Product .card .circle {
width: 70px;
height: 70px;
background-color: rgb(131, 213, 131);
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
color: aliceblue;
font-size:50px;
margin-top: 30px;
margin-bottom: 20px;
}
@media (max-width:468px) {
    .product-container{
        display:block;
        flex-direction: column;
        padding: 60px 40px;
        justify-content: center;
        align-items: center;
}

.card{
display: block;   
border-radius: 12px;
width:25%;
text-align: center;
align-items: center;
flex-direction: column;
}
}